body {
    background-color: #ADD8E6; /* Light blue background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Space Mono", monospace;
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card {
    background-color: white;
    width: 70%;
    max-width: 800px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 50px; /* Add margin to separate the header */
}

.left-half, .right-half {
    flex: 1;
    padding: 20px;
}

.label {
    color: hsl(186, 14%, 43%);
}

.input-group, .custom-input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-group span, .custom-input-group span {
    margin-right: 10px;
}

.input-group input, .custom-input-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: hsl(183, 100%, 15%);
}

.tip-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tip-button, .custom-button {
    flex: 1;
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: hsl(183, 100%, 15%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white;
}

.tip-button:hover, .tip-button.active, .custom-button:hover, .custom-button.active {
    background-color: hsl(172, 67%, 45%);
}

.custom-button {
    background-color: hsl(185, 41%, 84%);
    color: hsl(186, 14%, 43%);
}

.right-half {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(183, 100%, 15%);
    color: white;
    border-radius: 10px;
    padding: 20px;
}

.header {
    text-align: center;
    color: hsl(183, 100%, 15%);
}

.header p {
    margin: 0;
}

.header p:first-of-type {
    font-size: 2em;
}

.header p:last-of-type {
    font-size: 1.5em;
}

.results {
    width: 80%;
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
}

.results p {
    margin: 10px 0;
}

.value {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.reset-button {
    width: 80%;
    padding: 10px;
    border: none;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reset-button:hover {
    background-color: hsl(172, 67%, 40%);
}

.error-message {
    color: red;
    display: none;
}

.error-message.active {
    display: block;
}

.hidden {
    display: none;
}
